.App {
  text-align: center;
  background-color: var(--background-color);
  height: 100vh;
}
header{
  width: 100%;
  display: flex;
  img{
    height: 100px;
    width: 100px;
  }
  h1{
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    color: var(--color);
  }
}
